.form-section {
  display: flex;
  flex-direction: column;
  gap: 1.5em;
  width: 100%;
}

.form-section__offer {
  width: 100%;
  border-radius: 10px;
  padding: 20px;
  text-align: center;
  font-size: 0.85em;
  font-weight: 400;
  background-color: hsl(248, 32%, 49%);
  color: white;
  box-shadow: 0px 8px rgba(0, 0, 0, 0.1);
}

.form-section__offer span {
  font-weight: 600;
}

